<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
</head>
<body>
<h1>Welcome, <span th:text="${user.userName}"></span>!</h1>


<h2>Your Bookings:</h2>
<h3>Events</h3>
<ul>
    <li th:each="eventBooking : ${eventBookings}">
        <p th:text="'Event: ' + ${eventBooking.getEventName()} + ' - ' + ${eventBooking.getEventdate()} + ' - ' + ${eventBooking.getTicektesBooked()} + ' Tickets'"></p>
    </li>
</ul>

<h3>Hotels</h3>
<ul>
    <li th:each="hotelBooking : ${hotelBookings}">
        <p th:text="'Hotel: ' + ${hotelBooking.getHotelName()} + ' - ' + ${hotelBooking.getRoomType()} + ' - ' + ${hotelBooking.getNum_rooms()} + ' Rooms'"></p>
    </li>
</ul>

<h2>Your Notifications:</h2>
<ul>
    <li th:each="notification : ${notifications}">
        <p th:text="'Message: ' + ${notification.message}"></p>
    </li>
</ul>
</body>
</html>
